// Resource file for Win32 version of Adagio.

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

0x1C02   ICON    DISCARDABLE     "resource/adalid.ico"
